In [4]:
import numpy as np
import incoming as inc
import matplotlib.pyplot as plt, os
import pandas as pd
import  cudf as cd
import numba as nb, cupy as cp, cudf as cd, torch as t
import alpaca_trade_api as tradeapi
import torch
print(torch.backends.cudnn.version())
print(torch.cuda.is_available())  # Check if CUDA is enabled

90701
True

In [6]:

API_KEY = "PKYBD9IQOMHV4NNNANLC"
API_SECRET = "Vn5NJazAldHMKxs9Q8byj453AzhPogPxCHPdtoJK"
from alpaca.trading.client import TradingClient
from alpaca.trading.requests import GetAssetsRequest

trading_client = TradingClient(API_KEY, API_SECRET)

In [8]:


api = tradeapi.REST(API_KEY, API_SECRET, base_url='https://data.alpaca.markets/v2')
apple_histV1 = "/home/leon/Desktop/Stocks/aapl_2016_2021.csv"
#number of GPUS

#number of threads per block

In [9]:
# Load the data and check if filepaths are valid.

if os.path.exists(apple_histV1):
    print("Filepath is valid.")
else:
    print("Filepath is invalid.")

#initialize File paths for historical data.

Filepath is invalid.

In [54]:
from datetime import datetime

# Define parameters
symbol = "SOUN"
timeframe = "1Min"  # Options: 1Min, 5Min, 15Min, 1Hour, 1Day
start_date = "2023-04-28"
end_date = "2025-02-17"
limit = 10000

# Get historical bars
bars = api.get_bars(symbol, timeframe, start=start_date, end=end_date, limit=limit).df
# Display results
(bars.head(50))

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2023-04-28 08:00:00+00:00,2.5100,2.5100,2.4700,9,2.4700,1394,2.506740
2023-04-28 08:07:00+00:00,2.5100,2.5100,2.5100,2,2.5100,395,2.510000
2023-04-28 08:09:00+00:00,2.5100,2.5100,2.5100,4,2.5100,925,2.510000
2023-04-28 08:19:00+00:00,2.5000,2.5100,2.5000,4,2.5100,270,2.505000
2023-04-28 08:21:00+00:00,2.5100,2.5100,2.5100,1,2.5100,100,2.510000
2023-04-28 08:27:00+00:00,2.5100,2.5100,2.5100,1,2.5100,100,2.510000
2023-04-28 08:30:00+00:00,2.5100,2.5100,2.5100,3,2.5100,150,2.510000
2023-04-28 08:43:00+00:00,2.5200,2.5200,2.5200,3,2.5200,175,2.520000
2023-04-28 08:46:00+00:00,2.5200,2.5200,2.5200,2,2.5200,104,2.520000
2023-04-28 08:47:00+00:00,2.5100,2.5100,2.5100,4,2.5100,680,2.510000
2023-04-28 08:59:00+00:00,2.5100,2.5100,2.5100,5,2.5100,201,2.510000
2023-04-28 09:19:00+00:00,2.5100,2.5100,2.5100,4,2.5100,580,2.510000
2023-04-28 09:21:00+00:00,2.5100,2.5100,2.5100,3,2.5100,575,2.510000
2023-04-28 09:27:00+00:00,2.5000,2.5000,2.5000,4,2.5000,251,2.500000
2023-04-28 09:38:00+00:00,2.5000,2.5000,2.5000,22,2.5000,2324,2.500000
2023-04-28 09:44:00+00:00,2.5300,2.5300,2.5000,18,2.5200,4144,2.517641
2023-04-28 09:45:00+00:00,2.5300,2.5300,2.5300,5,2.5300,470,2.530000
2023-04-28 09:47:00+00:00,2.5300,2.5300,2.5300,3,2.5300,3857,2.530000
2023-04-28 09:49:00+00:00,2.5300,2.5300,2.5300,2,2.5300,704,2.530000
2023-04-28 09:51:00+00:00,2.5300,2.5300,2.5300,1,2.5300,1000,2.530000
2023-04-28 09:52:00+00:00,2.5300,2.5300,2.5300,2,2.5300,1877,2.530000
2023-04-28 09:57:00+00:00,2.5000,2.5100,2.5000,4,2.5100,800,2.502500
2023-04-28 09:58:00+00:00,2.5000,2.5000,2.5000,2,2.5000,136,2.500000
2023-04-28 10:03:00+00:00,2.5000,2.5000,2.5000,8,2.5000,335,2.500000
2023-04-28 10:05:00+00:00,2.5000,2.5000,2.5000,2,2.5000,200,2.500000
2023-04-28 10:06:00+00:00,2.5000,2.5000,2.5000,4,2.5000,950,2.500000
2023-04-28 10:10:00+00:00,2.5000,2.5000,2.5000,1,2.5000,300,2.500000
2023-04-28 10:15:00+00:00,2.5000,2.5000,2.5000,5,2.5000,252,2.500000
2023-04-28 10:22:00+00:00,2.5000,2.5000,2.5000,1,2.5000,151,2.500000
2023-04-28 10:23:00+00:00,2.5000,2.5000,2.5000,3,2.5000,449,2.500000
2023-04-28 10:24:00+00:00,2.5000,2.5100,2.5000,3,2.5100,600,2.501667
2023-04-28 10:35:00+00:00,2.5000,2.5000,2.5000,1,2.5000,100,2.500000
2023-04-28 11:00:00+00:00,2.5000,2.5000,2.5000,3,2.5000,220,2.500000
2023-04-28 11:04:00+00:00,2.5100,2.5100,2.5000,19,2.5000,2324,2.503867
2023-04-28 11:26:00+00:00,2.5000,2.5000,2.5000,7,2.5000,859,2.500000
2023-04-28 11:32:00+00:00,2.5000,2.5000,2.5000,4,2.5000,603,2.500000
2023-04-28 11:35:00+00:00,2.5000,2.5000,2.5000,2,2.5000,1012,2.500000
2023-04-28 11:43:00+00:00,2.5100,2.5100,2.5100,1,2.5100,100,2.510000
2023-04-28 11:44:00+00:00,2.5100,2.5100,2.5100,1,2.5100,100,2.510000
2023-04-28 11:54:00+00:00,2.5100,2.5100,2.5100,5,2.5100,490,2.510000
2023-04-28 12:00:00+00:00,2.5000,2.5100,2.4902,47,2.4902,6092,2.500340
2023-04-28 12:01:00+00:00,2.5200,2.5500,2.4915,204,2.5115,18821,2.505590
2023-04-28 12:02:00+00:00,2.5100,2.5400,2.5100,58,2.5100,4545,2.516077
2023-04-28 12:04:00+00:00,2.5100,2.5100,2.5100,1,2.5100,300,2.510000
2023-04-28 12:05:00+00:00,2.5100,2.5185,2.5100,11,2.5185,258,2.514250
2023-04-28 12:07:00+00:00,2.5106,2.5106,2.5106,1,2.5106,150,2.510600
2023-04-28 12:08:00+00:00,2.5085,2.5100,2.5085,7,2.5100,588,2.508843
2023-04-28 12:16:00+00:00,2.5085,2.5085,2.5085,2,2.5085,125,2.508500
2023-04-28 12:17:00+00:00,2.5097,2.5097,2.5097,2,2.5097,1662,2.509700
2023-04-28 12:18:00+00:00,2.5001,2.5001,2.5000,22,2.5000,4196,2.500021

In [46]:
print(len(bars)) # do math 10K roles for 1 Minute Trad# es

10000

In [ ]:
bars.info()

In [ ]:
print(cd.__version__)